- @page_title = "Commit #{@commit}"

%style{:type => 'text/css'}
  :sass
    table
      :font 90%/140% "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace
      :width 100%
      :border-collapse collapse
      
      .line-num-cut
        :background #ccc
        :border-top 1px dashed #ccc
        :border-bottom 1px dashed #ccc
      
      th
        :background #DDCC81
        :text-align left
        :padding 3px 0
        / :padding-left 
      
      td
        :padding 0 3px
        &.line_numbers
          :background #DDCC81
          :text-align right
          
        &.code
          / :width 95%
          :white-space pre-wrap
          :white-space -moz-pre-wrap
          :white-space -pre-wrap
          :white-space -o-pre-wrap
          :word-wrap break-word
          :background #fff

        &.unwrapped
          :white-space pre

        &.softwrapped
          :white-space pre-wrap
          :white-space -moz-pre-wrap
          :white-space -pre-wrap
          :white-space -o-pre-wrap
          :word-wrap break-word

        &.marked
          :background #ffc !important
        
        &.ins
          :background #a3ffa3        
          ins
            :text-decoration none
        
        &.del
          :background #ffa3a3
          del
            :text-decoration none


  
- for diff in @commit.diffs
  - filename, lines = parse_diff(diff)
  -# %p= filename
  %table.codediff
    %thead
      %tr
        %th
        %th
        %th= filename
    %tbody
      - for line in lines
        %tr.changes
          %td.line_numbers= line.op == DiffHelpers::DIFF_INS ? '' : line.num
          %td.line_numbers= line.op == DiffHelpers::DIFF_DEL ? '' : line.num
          %td{:class => diff_op_css_class(line.op)}= html_escape(line.body)
