- if @repositories.empty?

  %h2 Add a project
  
  %pre
    :preserve
      $ cd ~/code/myproj
      $ bananajour add
      #{Bananajour.added_success_message('myproj.git')}
      $ git push banana master
      Counting objects: 3, done.
      Writing objects: 100% (3/3), 229 bytes, done.
      Total 3 (delta 0), reused 3 (delta 0)
      Unpacking objects: 100% (3/3), done.
      To #{Bananajour.repositories_path.expand_path}/myproj.git
       * [new branch]      master -> master
      
- else

  %style{:type => "text/css"}
    :sass
      p.toc
        :float right
        :width 70%
        :text-align right
        :margin-top -30px
        :font-size 14px
        
        a
          :color #000
          :font-weight bold
  
      .repository
        :clear both
        :background-color white
        :-webkit-border-radius 10px
        :padding 10px
        :margin 10px 0
        :position relative
        
        h2
          :margin 0 0 5px 0
          :color #333
          :font-size 24px
        
        h3
          :font-size 12px
          :color #666
          :margin 5px 0
          
        span.uri
          :margin 5px 0
          :font-size 14px
          :color #888
          :font-weight normal
          
        p.heads
          :font-size 12px
          :margin 5px 0
          :color #888
        
        form.admin
          :position absolute
          :top 10px
          :right 10px
          
          input
            :background-color #eee
            :color #888
            :border none
            :-webkit-border-radius 5px
            &:hover
              :background-color #ddd
              :color #333
        
        ul, li
          :margin 0
          :padding 0
          :list-style none
        
        ul.commits li
          :font-size 12px
          :line-height 1.5em
          :padding 5px 8px
          
          &.odd
            :background-color #e5e5e5
          &.even
            :background-color #f5f5f5
          
          .meta
            :font-size 10px
            :text-transform uppercase
            :color #999
            :float right
  %p.toc
    Repos:
    - for repository in @repositories
      %a{:href => "##{repository.dirname}"}&= repository.name
    
  - for repository in @repositories
    .repository{:id => repository.dirname}
      %h2
        &= repository.name
        %span.uri
          &= repository.uri

      %p.heads
        %strong Branches:
        - repository.grit_repo.heads.collect {|h| h.name}.each_with_index do |branch, i|
          = ",&nbsp;" unless i == 0
          %span>&= branch
      - if admin?
        %form.admin{:action => "/#{repository.dirname}", :method => "post", :onsubmit => "return confirm('Delete #{repository.name}?');"}
          %input{:type => "hidden", :name => "_method", :value => "DELETE"}/
          %input{:type => "submit", :value => "Delete"}/

      %h3 Recent commits to master:
      %ul.commits
        - limit = 5
        
        - repository.grit_repo.commits("head", limit).each do |commit|
          %li{:class => cycle}
            %em.meta
              \~
              &= time_ago_in_words(commit.committed_date).gsub("about ","")
              ago
              \-
              &= commit.author
            &= commit.short_message