- if @repositories.empty?

  %h2 Add a project
  
  %pre
    :preserve
      $ cd ~/code/myproj
      $ bananajour init
      #{Bananajour.plain_init_success_message('myproj.git')}
      $ git push banana master
      Counting objects: 3, done.
      Writing objects: 100% (3/3), 229 bytes, done.
      Total 3 (delta 0), reused 3 (delta 0)
      Unpacking objects: 100% (3/3), done.
      To #{Bananajour.repositories_path.expand_path}/myproj.git
       * [new branch]      master -> master
      
- else

  %style{:type => "text/css"}
    :sass
      p.toc
        :float right
        :width 70%
        :text-align right
        :margin-top -30px
        :font-size 14px
        :opacity 0.5
        
        a
          :color #000
          :font-weight bold
  
      .repository
        :clear both
        :background-color white
        :-webkit-border-radius 10px
        :padding 10px
        :margin 10px 0
        :position relative
        
        h2
          :margin 0 0 5px 0
          :color #333
          :font-size 24px
        
        h3
          :font-size 12px
          :color #666
          :margin 5px 0
          
        span.uri
          :margin 5px 0
          :font-size 14px
          :color #888
          :font-weight normal
          
        p.heads
          :font-size 12px
          :margin 5px 0
          :color #888
        
        form.admin
          :position absolute
          :top 10px
          :right 10px
          
          input
            :background-color #eee
            :color #888
            :border none
            :-webkit-border-radius 5px
            &:hover
              :background-color #ddd
              :color #333
        
        ul, li
          :margin 0
          :padding 0
          :list-style none
        
        ul.commits
          :width 100%
        
        ul.commits li
          :font-size 12px
          :line-height 1.5em
          :padding 8px 0
          :min-height 30px
          :border 0px solid #ddd
          :border-top-width 1px
          
          &:first-child
            :border-top-width 0
          
          em.branch
            :float right
            :display block
            :font-size 11px
            :background-color #e5e5e5
            :color #666
            :padding 2px 5px
            :margin-left 3px
            :font-weight normal
            :font-style normal
          
          p
            :margin 0
            :line-height 1em
            / :margin-left 40px
            
          p.message
            :line-height 1.4em

          p.meta
            :font-size 10px
            :color #999
            :line-height 1.5em
            
            span.extra
              :display none
              
          &:hover p.meta span.extra
            :display inline

  %p.toc
    Repos:
    - for repository in @repositories
      %a{:href => "##{repository.dirname}"}&= repository.name
    
  - for repository in @repositories
    .repository{:id => repository.dirname}
      %h2
        &= repository.name
        %span.uri
          &= repository.uri

      %p.heads
        %strong Branches:
        - repository.grit_repo.heads.collect {|h| h.name}.each_with_index do |branch, i|
          = ",&nbsp;" unless i == 0
          %span>&= branch

      %ul.commits
        - for commit in repository.recent_commits
          %li
            - if head = commit.head(repository.grit_repo)
              %em.branch= head.name
            %p.message&= commit.short_message
            %p.meta
              &= time_ago_in_words(commit.committed_date).gsub("about ","")
              ago
              %span.extra
                \-
                &= commit.author
                \-
                &= commit.id_abbrev