- @page_title = "#{Bananajour.config.name}&rsquo;s Bananajour"

%style{:type => "text/css"}
  :sass
    .people
      :font-size 14px
      a
        :color black
  
- if @my_repositories.empty?

  %h2 Add a project
  
  %pre
    :preserve
      $ cd ~/code/myproj
      $ bananajour init
      #{Bananajour.plain_init_success_message('myproj.git')}
      $ git push banana master
      Counting objects: 3, done.
      Writing objects: 100% (3/3), 229 bytes, done.
      Total 3 (delta 0), reused 3 (delta 0)
      Unpacking objects: 100% (3/3), done.
      To #{Bananajour.repositories_path.expand_path}/myproj.git
       * [new branch]      master -> master

%style{:type => "text/css"}
  :sass
    .repository
      :clear both
      :background-color white
      :-webkit-border-radius 10px
      :-moz-border-radius 10px
      :padding 7px 10px
      :margin 10px 0
      :position relative
      :border 4px solid #ff0
      
      a
        :color #888
      
      h2, p.uri
        :margin 0
        :display inline

      h2
        :color #333
        :font-size 24px
      p.uri
        :color #666
        :margin 5px 0
        :font-size 12px
      
      p.branches
        :margin 5px 0
        :font-size 12px
      
      ul, li
        :margin 0
        :padding 0
        :list-style none
        
      p.readme
        :margin 0 -5px 0 0
        a
          :float right
          :margin 0
          :text-transform uppercase
          :font-size 10px
          :font-weight bold
          :color #999
          :background-color #eee
          :line-height 20px
          :padding 0 5px
          :text-decoration none
          :-webkit-border-radius 2px
          :-moz-border-radius 2px
          &:hover
            :color #666
            :background-color #ddd
        
      h3
        :margin 10px 0 0 0
        :font-size 12px
        :color #999
        :text-transform uppercase
      
      ul.network
        :margin-top 5px
        li
          :line-height 1em
          :min-height 16px
          :padding-left 30px
          :margin 10px 0
          &.loading
            :background transparent url('/loader.gif') no-repeat 4px center
          a.name
            :font-size 12px
            :font-weight bold
            :color #666
            :text-transform uppercase
            :text-decoration none
          span.branches
            :font-size 12px
            :color #999
          span.more
            :float right
            :width 15px
            :height 15px
            :color #fff
            :background-color #ccc
            :font-size 12px
            :line-height 15px
            :font-weight bold
            :-webkit-border-radius 2px
            :-moz-border-radius 2px
            :text-align center
            :cursor pointer
            &:hover
              :background-color #aaa
              :color #fff
          p.message
            :font-size 12px
            :margin 2px 0 5px 1px
            a
              :color #333
              :text-decoration none
              &:hover
                :text-decoration underline
            span.meta
              :font-size 10px
              :color #999
            em.branch
              :font-weight bold
              :font-style normal
              :color #666
          img.gravatar
            :float left
            :margin-left -30px
            :margin-top 2px
    
    img.gravatar
      :width 20px
      :height 20px
    
    .projects, .people
      :float left
      :width 48%
      :background-color #fff
      :border 4px solid #ff0
      :-webkit-border-radius 10px
      :-moz-border-radius 10px
      :margin-top 10px
      
      h2
        :margin 0
        :text-align center
        :font-size 16px
        :line-height 28px
        :background-color #ff0
        :color #960
        :text-transform uppercase

      h3
        :margin 0 0 5px 0
        
      ul, li
        :margin 0
        :padding 0
        :list-style none

      > ul
        :font-size 12px
        :margin 10px
        > li
          :margin-bottom 10px
        li li
          :margin-right 0.2em
        a
          :color #000
      
    .projects
      ul li
        ul, li
          :display inline
      a
        :white-space nowrap
    
    .people
      :margin-left 10px
      ul
        li
          :float left
          :width 50%
          :margin-bottom 5px
          a
            :text-decoration none
            .name
              :text-decoration underline
            img
              :vertical-align middle
      
    .local .repository
      :border-color #980
  
- for repository in @my_repositories
  - heads = repository.grit_repo.heads
  
  .repository{:id => repository.html_id, 'data-name' => repository.name}

    - if repository.readme_file && !local?
      %p.readme
        %a{:href => "/#{repository.name}/readme"} Readme

    %h2
      &= repository.name

    %p.uri&= repository.uri

    - unless local?
      %p.branches
        %strong Branches:
        = heads.map {|h| h.name}.join(", ")
      %ul.commits
        - for commit in repository.recent_commits
          %li
            %img.gravatar{:src => commit.author.gravatar_uri}
            %p.message
              %a{:href => "/#{URI.escape(repository.name)}/#{commit.id}"}&= commit.short_message
              %span.meta
                - if head = heads.find {|h| h.commit == commit}
                  \-
                  %em.branch= head.name
                \~
                &= time_ago_in_words(commit.committed_date).gsub("about ","")
                ago by
                &= commit.author
    - else
      %ul.network
        - for repo in @repository_browser.repositories_similar_to(repository)
          %li.loading{'data-json-uri' => repo.json_uri}
            %a.name{:href => "#{repo.person.uri}##{repo.html_id}"}= repo.person.name

- if local?
  :javascript
    $(function() {
      $("ul.network li").each(function() {
        var repoLi = $(this);
        $.getJSON(repoLi.attr("data-json-uri") + "?callback=?", function(data) {
          repoLi.removeClass("loading");
          $("<img class='gravatar'/>").attr("src", data.bananajour.gravatar).prependTo(repoLi);
          $("<span class='branches' />").text(data.heads.join(", ")).appendTo(repoLi);
          if(data.recent_commits.length > 1) $('<span class="more">+</span>')
            .click(function() {
              if ($(this).text() == "+") {
                repoLi.find(".message").show();
                $(this).text("-");
              } else {
                repoLi.find(".message").each(function(i) {
                  if (i != 0) $(this).hide();
                });
                $(this).text("+");
              }
            })
            .appendTo(repoLi);
          $(data.recent_commits).each(function(i) {
            var commit = this;
            var message = $("<p class='message'/>").html(
              $("<a/>").attr("href", data.bananajour.uri + encodeURIComponent(data.name) + "/" + commit.id).text(commit.message)
            ).appendTo(repoLi).append(
              $("<span class='meta'/>")
                .append($("<em class='branch'/>").text(commit.head && (" - " + commit.head)))
                .append(" ~ " + commit.committed_date_pretty + " by " + commit.author.name)
                .appendTo(repoLi)
            )
            if (i != 0) message.hide();
          });
        });
      });
    });
  
  .projects
    - if @other_repos_by_name.empty?
      %h2 No other projects
    - else
      %h2= pluralize @other_repos_by_name.length, "Other Project", "Other Projects"
      %ul
        - for repo_name in @other_repos_by_name.keys.sort
          %li
            %h3&= repo_name
            %ul
              - for repo in @other_repos_by_name[repo_name].sort_by {|r| r.person.name}
                %li
                  %a{:href => repo.web_uri}&= repo.person.name
  .people
    - if @people.empty?
      %h2 No other bananas
    - else
      %h2= pluralize @people.length, "Other Banana", "Other Bananas"
      %ul
        - for person in @people
          %li
            %a{:href => person.uri}
              %img.gravatar{:src => person.gravatar}
              %span.name&= person.name